<h1>Discover Movies</h1>
<div id="testing" >
<%= link_to "Find Top Rated Movies", movies_path, remote: true %>


<br><br>
<%= form_with(url: movies_path, local: true, method: :get) do |form| %>
  <%= form.text_field :query, label: "Search Movies by Title", placeholder: "ex: The Godfather" %>
  <%= form.submit "Search" %>
<% end %>
</div>

<script>
  $('#testing a').parent().append("<%= j render 'testing' %>")
  </script>
