<%= @movie.title %>

<%= form_with model: @showing, local: true do |form|%>
  <%= form.hidden_field :movie_id, value: @movie.id %>
  <%= form.hidden_field :movie_runtime, value: @movie.runtime %>
  <%= form.hidden_field :movie_title, value: @movie.title %>
  <p><%= form.label :duration, 'Duration' %>
  <%= form.number_field :duration, value: @movie.runtime, min: @movie.runtime %></p>
  <p> <%= form.label :day, 'Day' %>
  <%= form.text_field :day %></p>
  <p><%= form.label :start_time, 'Start Time' %>
  <%= form.text_field :start_time %></p>

  <p><% @friends.each do |friend| %>
    <%= check_box_tag friend.email %>
    <%= label_tag friend.email, "#{friend.email}" %>
  <% end %></p>

  <%= form.submit 'Create' %>

<% end %>
