<h1>Create Account</h1>
<br>
<%= form_with model: @user, local: true do |form| %>
  <p><%= form.label :email, "Email Address" %>
  <%= form.text_field :email %></p>
  <p><%= form.label :password, "Password" %>
  <%= form.password_field :password %></p>
  <p><%= form.label :confirm_password, 'Confirm Password' %>
  <%= form.password_field :confirm_password %>
  <%= form.submit 'Register' %></p>
<% end %>

<%= link_to 'Already have an account? Click here to log in', root_path %>
