<h1>Viewing Party</h1>

<h2><%= @welcome_message %></h2>
<h2><%= @description %></h2>

<%= form_with url: login_path, method: :post, local: true do |form| %>
  <%= form.label :email, 'Email:' %>
  <%= form.text_field :email %>

  <%= form.label :password, 'Password:' %>
  <%= form.text_field :password %>

  <%= form.submit 'Login' %>
<% end %>

<%= link_to "Register", registration_path %>
